h1 {
  font-size: 26px;
  color:Black;
  font-family: Futura, Helvetica, Arial, Sans-Serif;
}

p {
  font-size: 24px;
  color:Black;
  font-family: Futura, Helvetica, Arial, Sans-Serif;
}

body {
  background-color: white;
}
